  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

  body {
    font-size: 15px;
  }

  .whole {
    display: flex;
    flex-direction: column;
    margin: 50px;
    color: white;
    @media (min-width: 600px) {
        flex-direction: row;
        margin: 100px;
    }
    
  }

  .sedan {
    gap: 10px;
    min-width: 300px;
    min-height: 300px;
    max-height: 600px;
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
    padding: 40px ;
    @media (min-width: 600px) {
        border-radius: 20px 0 0 20px;
    }
  }
  p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    padding: 10px;
  }

  h1 {
    padding: 10px;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
  }

  .btn {
    padding: 10px 40px 10px 40px;
    margin-left: 10px;
    border-radius: 20px;
    border: 0px;
    color: hsl(31, 77%, 52%);;
  }

  .suvs {
    min-width: 300px;
    min-height: 300px;
    max-height: 600px;
    background-color: hsl(184, 100%, 22%);
    padding: 40px ;
    @media (min-width: 600px) {
        border-radius: 0;
    }
  }

  .luxury {
    min-width: 300px;
    min-height: 300px;
    max-height: 600px;
    background-color: hsl(179, 100%, 13%);
    padding: 40px ;
    border-radius: 0 0 20px 20px;
    @media (min-width: 600px) {
        border-radius: 0 20px   20px 0;
    }
  }

  .sedan, .suvs, .luxury {
    @media (min-width: 600px) {
        padding: 100px 20px 100px 20px ;
         max-height: 600px;
    }
 
  }